<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 30rem;">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Update Reservation</h2>
        <form [formGroup]="reservationForm" (ngSubmit)="updateReservation()">
          <div class="form-floating mb-3">
            <select class="form-control" id="meetingRoom" formControlName="meetingRoom" required>
              <option [value]="reservationForm.value.meetingRoom" selected>{{ reservationForm.value.meetingRoom.name }}</option>
              <option *ngFor="let room of meetingRooms" [value]="room._id">{{ room.name }}</option>
            </select>
            <label for="meetingRoom">Meeting Room</label>
          </div>
          <div class="form-floating mb-3">
            <input type="datetime-local" class="form-control" id="reservationDate" formControlName="reservationDate" [min]="minDate" required>
            <label for="reservationDate">Reservation Date</label>
          </div>
          <div class="form-floating mb-3">
            <input type="time" class="form-control" id="startTime" formControlName="startTime" required>
            <label for="startTime">Start Time</label>
          </div>
          <div class="form-floating mb-3">
            <input type="time" class="form-control" id="endTime" formControlName="endTime" required>
            <label for="endTime">End Time</label>
          </div>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
        </form>
        <div *ngIf="conflictError" class="alert alert-danger mt-3">{{ conflictError }}</div>
      </div>
    </div>
  </div>