<nav class="header">
    <a *ngIf="authService.isAuthenticated()" routerLink="/">Home</a>
    <a *ngIf="authService.isAuthenticated()" routerLink="/reservationsByUser">Reservations</a>
    <a *ngIf="authService.isAuthenticated()" routerLink="/meeting-rooms">Meeting Rooms</a>
    <div class="spacer"></div>
    <a *ngIf="!authService.isAuthenticated()" routerLink="/login">Login</a>
    <a *ngIf="!authService.isAuthenticated()" routerLink="/register">Register</a>
    <a  style="cursor: pointer;" *ngIf="authService.isAuthenticated()" (click)="authService.logout()">Logout</a>
  </nav>