
.btn-primary {
    color: #333;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    color: #333;
    background-color: #fff;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.btn-success:hover {
    color: #333;
    background-color: #fff;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.btn-success {
    color: #333;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}


.btn-danger {
    color: #333;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}


.btn-danger:hover {
    color: #333;
    background-color: #fff;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.animated {
    animation-duration: 1s;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
