<div class="container d-flex justify-content-center align-items-center vh-100 text-center text-white">
  <div class="animated fadeInDown login-form" style="max-width: 30rem;">
    <h2 class="display-4 mb-4">Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="form-floating mb-3">
        <input id="name" type="text" class="form-control" formControlName="name" placeholder="John Doe" required>
      </div>
      <div class="form-floating mb-3">
        <input id="email" type="email" class="form-control" formControlName="email" placeholder="name@example.com" required>
      </div>
      <div class="form-floating mb-3">
        <input id="password" type="password" class="form-control" formControlName="password" placeholder="Password" required>
      </div>
      <div class="form-floating mb-3">
        <input id="role" type="text" class="form-control" formControlName="role" placeholder="Role" required>
      </div>
      <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
    </form>
  </div>
</div>